// Project One color
$priColor: rgba(19, 15, 73, 1);
$SecColor: rgba(165, 166, 255, 1);
$heroBgColor: rgba(239, 251, 248, 1);

// Second Project color
$pryColor: rgb(238, 238, 238);
$SecColor: rgb(35, 35, 35);
$WhiteColor: rgb(255, 255, 255);
